/assets/audio/fantasy-rpg-music-pack
/assets/audio/pixel-music-pack
/assets/audio/piano-instumental-loops/mp3
/assets/audio/piano-instumental-loops/ogg

/assets/fonts/buddy-champion

/assets/images/bushes-pixel-art
/assets/images/crystals-pixel-art
/assets/images/cursed-land-pixel-art-tileset
/assets/images/fantasy-enemies-pixel-art-sprite-pack
/assets/images/flame-effects-sprite-pack
/assets/images/forest-objects-pixel-art
/assets/images/liquid-loot-vector-game-icons
/assets/images/monster-enemy-sprites-for-tower-defense
/assets/images/pixel-art-cave-objects
/assets/images/rocks-and-stones-pixel-art
/assets/images/rocky-area-objects-pixel-art
/assets/images/ruins-pixel-art
/assets/images/trees-pixel-art
/assets/images/undead-tileset-pixel-art
/assets/images/water-effects-sprite-pack